flows.json
[{"id":"27cafae0.c18b26","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2af99e19.afa2b2","type":"mqtt in","z":"27cafae0.c18b26","name":"","topic":"temperature","qos":"1","datatype":"auto","broker":"cb22c83c.6f50f8","x":90,"y":140,"wires":[["e4c791ce.019eb","d18477b4.b91af8"]]},{"id":"e4c791ce.019eb","type":"ui_gauge","z":"27cafae0.c18b26","name":"","group":"e4bbe742.49ffc8","order":2,"width":"0","height":"0","gtype":"compass","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0","seg2":"6","x":250,"y":140,"wires":[]},{"id":"109503be.b2ca9c","type":"mqtt in","z":"27cafae0.c18b26","name":"","topic":"light","qos":"2","datatype":"auto","broker":"cb22c83c.6f50f8","x":70,"y":200,"wires":[["d923ee8f.d7ffd","d18477b4.b91af8"]]},{"id":"d923ee8f.d7ffd","type":"ui_gauge","z":"27cafae0.c18b26","name":"","group":"e4bbe742.49ffc8","order":1,"width":0,"height":0,"gtype":"gage","title":"Light","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":190,"y":200,"wires":[]},{"id":"87dd131f.2780a","type":"mqtt in","z":"27cafae0.c18b26","name":"","topic":"soil","qos":"2","datatype":"auto","broker":"cb22c83c.6f50f8","x":70,"y":260,"wires":[["9c8947f6.a75568","d18477b4.b91af8"]]},{"id":"9c8947f6.a75568","type":"ui_chart","z":"27cafae0.c18b26","name":"","group":"1996f50d.0b83eb","order":2,"width":0,"height":0,"label":"Soil","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":190,"y":260,"wires":[[]]},{"id":"ade5abf7.c122d8","type":"mqtt in","z":"27cafae0.c18b26","name":"","topic":"humidity","qos":"2","datatype":"auto","broker":"cb22c83c.6f50f8","x":80,"y":320,"wires":[["1cac5131.1d274f","d18477b4.b91af8"]]},{"id":"1cac5131.1d274f","type":"ui_chart","z":"27cafae0.c18b26","name":"","group":"1996f50d.0b83eb","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":220,"y":320,"wires":[[]]},{"id":"c1d82d6f.0d996","type":"ui_template","z":"27cafae0.c18b26","group":"4350fed4.14a4","name":"leon","order":1,"width":"10","height":"9","format":"<img src={{msg.payload}} width='300' height='300'>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":530,"y":200,"wires":[[]]},{"id":"75b7eab8.970434","type":"function","z":"27cafae0.c18b26","name":"func","func":"let lightThreshhold = msg.payload.lightThreshhold\nlet tempThreshhold = msg.payload.tempThreshhold\nlet humidityThreshhold = msg.payload.humidityThreshhold\nlet soilThreshhold = msg.payload.soiltThreshhold\n\nif(msg.payload.light > lightThreshhold) {\n    return {topic: 'img', payload: 'https://previews.123rf.com/images/cammep/cammep1703/cammep170300007/73802349-mexican-cactus-sunglasses-with-gradient-mesh-vector-illustration.jpg'}\n}\nelse if(msg.payload.temperature > tempThreshhold ) {\n    return {topic: 'img', payload: 'https://comps.canstockphoto.com/cactus-and-rebel-sun-illustration_csp48829429.jpg'}\n}\nelse if(msg.payload.soil > soilThreshhold) {\n    return {topic: 'img', payload: 'https://comps.gograph.com/ggb/60643795'}\n}\nelse if(msg.payload.humidity > humidityThreshhold) {\n    return {topic: 'img', payload: 'https://image.shutterstock.com/z/stock-vector-thirsty-cactus-in-the-desert-cartoon-116871979.jpg'}\n}\nelse {\n    return {topic: 'img', payload: 'https://previews.123rf.com/images/dollygrey/dollygrey1808/dollygrey180800013/107783768-happy-cactus.jpg'}\n}\n","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["c1d82d6f.0d996"]]},{"id":"d18477b4.b91af8","type":"join","z":"27cafae0.c18b26","name":"join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"5","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":320,"wires":[["75b7eab8.970434"]]},{"id":"ffac8846.325388","type":"firebase.on","z":"27cafae0.c18b26","name":"Humidity","firebaseconfig":"","childpath":"Cactus/Humidity","atStart":true,"eventType":"value","queries":[],"x":80,"y":460,"wires":[["5a4e6e1.4ba6f9"]]},{"id":"d44b55e7.fb4338","type":"firebase.on","z":"27cafae0.c18b26","name":"Soil","firebaseconfig":"","childpath":"Cactus/Soil","atStart":true,"eventType":"value","queries":[],"x":70,"y":520,"wires":[["88f59f1a.e2a2f"]]},{"id":"2ef5f0e3.61e31","type":"firebase.on","z":"27cafae0.c18b26","name":"Light","firebaseconfig":"","childpath":"Cactus/Light","atStart":true,"eventType":"value","queries":[],"x":70,"y":580,"wires":[["ef4b1ec4.44f8"]]},{"id":"b7ad9e4.7c8886","type":"firebase.on","z":"27cafae0.c18b26","name":"Temparature","firebaseconfig":"","childpath":"Cactus/Temperature","atStart":true,"eventType":"value","queries":[],"x":90,"y":400,"wires":[["23491baa.7560e4"]]},{"id":"23491baa.7560e4","type":"function","z":"27cafae0.c18b26","name":"encasulateTemp","func":"\nreturn { topic: 'temperatureThreshhold', payload: msg.payload };","outputs":1,"noerr":0,"x":260,"y":400,"wires":[["d18477b4.b91af8"]]},{"id":"88f59f1a.e2a2f","type":"function","z":"27cafae0.c18b26","name":"encasulateSoil","func":"\nreturn { topic: 'soilThreshhold', payload: msg.payload };","outputs":1,"noerr":0,"x":220,"y":520,"wires":[["d18477b4.b91af8"]]},{"id":"5a4e6e1.4ba6f9","type":"function","z":"27cafae0.c18b26","name":"encasulateHumidity","func":"\nreturn { topic: 'humidityThreshhold', payload: msg.payload };","outputs":1,"noerr":0,"x":250,"y":460,"wires":[["d18477b4.b91af8"]]},{"id":"ef4b1ec4.44f8","type":"function","z":"27cafae0.c18b26","name":"encasulateLight","func":"\nreturn { topic: 'lightThreshhold', payload: msg.payload };","outputs":1,"noerr":0,"x":220,"y":580,"wires":[["d18477b4.b91af8"]]},{"id":"cb22c83c.6f50f8","type":"mqtt-broker","z":"","name":"iot_plant ","broker":"postman.cloudmqtt.com","port":"12113","clientid":"","usetls":false,"compatmode":true,"keepalive":"5","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4bbe742.49ffc8","type":"ui_group","z":"","name":"Gauges","tab":"39644d6a.0d97c2","order":2,"disp":true,"width":"6","collapse":false},{"id":"1996f50d.0b83eb","type":"ui_group","z":"","name":"Charts","tab":"39644d6a.0d97c2","disp":true,"width":"6","collapse":false},{"id":"4350fed4.14a4","type":"ui_group","z":"","name":"Mood","tab":"39644d6a.0d97c2","order":3,"disp":true,"width":"12","collapse":false,"info":"<img src=\"http://www.pngmart.com/files/2/Pikachu-PNG-HD.png\"/>\n<div> skcjskcjskcjskcjsjskc</div>"},{"id":"39644d6a.0d97c2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]